@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@theme inline {
  --color-primary: #35919b;
  --color-primary-100: #d7e9eb;
  --color-primary-700: #20575d;
  --color-primary-900: #133a3e;
  --color-surface: #f1f3f2;
  --color-surface-hover: #f4f6f5;
  --color-dark: #1a1a1a;
  --color-darker: #1f1f1f;
  --font-sans: var(--font-manrope);
}
